<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<array>
			<array>
				<array>
					<dict>
						<key>title</key>
						<string>法律体系是一个重要的法学概念，人们尽可以从不同的角度、不同的侧面来理解、解释和适用这一概念，但必须准确地把握这一概念的基本特征。下列关于法律体系的表述中哪种说法未能准确地把握这一概念的基本特征？</string>
						<key>analysis</key>
						<string>本题考查的是法律体系基本特征的知识。这类题目中的选项在司法部《指定参考用书》（以下简称《指定用书》）中不可能找到完全对应的原句，出题目的是考查考生对法学基础理论掌握的程度，这就需要考生在日常复习时不能只是死记硬背，而要在理解的基础上达到融汇贯通。否则造成的一个直接后果是所有选项都似是而非，无法选择。

　　法律体系也称部门法，是指一国的全部现行法律规范，按照一定的标准和原则，划分为不同的法律部门而形成的内部和谐一致、有机联系的整体。法律体系是一国国内法构成的体系，不包括完整意义的国际法。它是一国现行法构成的体系，反映一国法律的现实状况。由此，选项A说法正确。法律体系的形成是某一国家的法学工作者对现行法律规范进行科学抽象和分类的结果，由此，选项C说法正确。选项D的表述错误在于即使我国古代法律没有部门法的划分，但仍是该时代国内法构成的体系，即也存在法律体系。本题的难点是选项B，《指定用书》中没有介绍，属于法制史范畴，但可以从法律体系的概念、特征以及对我国近现代史的划分推断出该选项的说法也是正确的。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>研究我国的法律体系必须以我国现行国内法为依据</string>
							<string>在我国，近代意义的法律体系的出现是在清末沈家本修订法律后</string>
							<string>尽管香港的法律制度与大陆的法律制度有较大差异，但中国的法律体系是统一的</string>
							<string>我国古代法律是“诸法合体”，没有部门法的划分，不存在法律体系</string>
						</array>
						<key>answers</key>
						<array>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法律关系的内容是法律关系主体之间的法律权利和法律义务，二者之间具有紧密的联系。下列有关法律权利和法律义务相互关系的表述中，哪种说法没有正确揭示这一关系？</string>
						<key>analysis</key>
						<string>本题考查的是法律关系的内容即法律权利和法律义务的知识。权利和义务都是有限度的，享有权利超过限度就不为法律所保护，甚至可能构成“越权”或“滥用权利”，而要求义务人作出超出“义务”范围的行为，同样是法律所禁止的。在权利和义务的资源分配上，权利人不可能永远无限制地享有社会利益，义务人也不可能永远承担社会的不利和损害，权利人在享受权利时必须履行相应的义务。选项B的表述错误在于混淆了二者的界限。权利和义务作为法律关系的内容，其处于法律关系的统一体中，没有无义务的权利，也没有无权利的义务，二者不可能孤立地存在和发展，一方不存在，另一方也不可能存在，因此，选项C的说法正确。一般而言，在等级特权社会，法律制度往往强调以义务为本位，权利处于次要地位，而在民主法制社会，法律制度较为重视对个人权利的保护，此时权利是第一位，义务是第二位的，义务设定的目的在于保障权利的实现，权利本位和义务本位代表着不同的法律精神和法律价值取向，因此选项A、D的说法是正确的。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>权利和义务在法律关系中的地位有主、次之分</string>
							<string>享有权利是为了更好地履行义务</string>
							<string>权利和义务的存在、发展都必须以另一方的存在和发展为条件</string>
							<string>义务的设定目的是为了保障权利的实现</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>从违法行为的构成要素看，判断某一行为是否违法的关键因素是什么？</string>
						<key>analysis</key>
						<string>本题考查的是违法行为构成要件的知识。违法行为是指人们违反法律的、具有社会危害性的、主观上有过错的行为，包括四个构成要件：①违法行为以违反法律为前提，这是与违反道德的行为、法律上无效的行为的区别，也是认定行为是否构成违法的关键要素；②违法行为必须是某种违反法律规定的行为；③违法行为必须是行为人出于故意或过失；④违法行为必须是具有法定责任能力的自然人、法人、国家机关及其工作人员做出。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>该行为在法律上被确认为违法</string>
							<string>该行为有故意或者过失的过错</string>
							<string>该行为由具有责任能力的主体做出</string>
							<string>该行为侵犯了法律所保护的某种社会关系和社会利益</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>道德与法律都属于社会规范的范畴，都具有规范性、强制性和有效性，道德与法律既有区别又有联系。下列有关法与道德的几种表述中，哪种说法是错误的？</string>
						<key>analysis</key>
						<string>本题考查的是法与道德关系的知识。一般而言，法律的内容比较具体明确、肯定，既规定人们的义务，也规定人们的权利，而道德则侧重于人们的义务而不是权利，因此在法学上有一种看法，即法律具有两重性（既重权利又重义务），而道德仅具有一面性（只重义务），由此选项A表述正确。道德的实现不是凭借国家强制力，而主要是依靠社会舆论和传统的力量以及人们的自觉维护。因此道德的强制是一种精神上的强制，道德也正是以此来调整人们的行为的，因此选项B的说法正确。强调“法的安定性优先”是实证主义法学派的观点，这种观点认为法律是一个孤立的、不受任何其他现象影响的存在体，应当从法律之内来寻找和说明法的效力的根据。而马克思主义法学认为法律所反映的道德不是抽象的，而是具体的、历史的，是统治阶级的道德。在此意义上，二者是相互渗透、相互促进、协调发展的，因此选项C的判断正确。而选项D的错误在于这一说法不是马克思主义法学的观点。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>法律具有既重权利又重义务的“两面性”，道德具有只重义务的“一面性”</string>
							<string>道德的强制是一种精神上的强制</string>
							<string>马克思主义法学认为，片面强调法的安定性优先是错误的</string>
							<string>法律所反映的道德是抽象的</string>
						</array>
						<key>answers</key>
						<array>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据我国现行宪法和有关法律规定、下列有关行政区域划分、行政区域边界争议处理的主管部门的表述中，哪一种说法是正确的？</string>
						<key>analysis</key>
						<string>本题考查行政区域边界争议处理的知识。行政区域边界争议是指省、自治区、直辖市之间，自治州、县、自治县、市、市辖区之间，乡、民族乡、镇之间的人民政府，对毗邻行政区域界限的争议。根据国务院《行政区域边界争议处理条例》第一条“民政部门是国务院处理边界争议的主管部门。县级以上的地方各级人民政府的民政部门是本级人民政府处理边界争议的主管部门”的规定可见，行政区域边界争议处理的主管部门和行政区域划分的机关并不相同。也就是说，行政区域边界争议的主管部门不是有权进行行政区划的人民政府，而是人民政府的一个职能部门即民政部门。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>行政区域边界争议的主管部门无权进行行政区划</string>
							<string>有权进行行政区划的部门，也就是行政区域边界争议的主管部门</string>
							<string>主管行政区域边界争议的部门，也有权处理行政区划问题</string>
							<string>主管行政区域边界争议的部门，也是行政区域边界争议的处理决定机关</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>张家村与李家村毗邻，李家村的用水取自流经张家村的小河，多年来两村经常因用水问题发生冲突。2001年春，为根本解决问题，县政府决定将这条小河的水流交给乡水管站统一调配。张家村人认为：小河历史上就属于张家村所有，县政府无权将这条河的水流交乡水管站统一调配，遂将县政府告上法院。请问：根据现行宪法和法律，下列哪一说法是正确的？</string>
						<key>analysis</key>
						<string>本题考查水流归属的法律知识。我国宪法第九条规定：矿藏、水流、森林、山岭、草原、荒地、滩涂等自然资源，都属于国家所有，即全民所有，由法律规定属于集体所有的森林和山岭、草原、荒地、滩涂等除外。由此规定，除森林、山岭、草原、荒地、滩涂由法律另行规定外，认为上述资源属于集体所有或者集体支配的说法错误。故选项C为正确【答案】。另需说明的是该条规定在1999年律师资格考试中曾以多项选择的题型测试过。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>张家村告的有理，因为水流属于村民集体所有，政府无权收归国有</string>
							<string>张家村告的有理，因为这条小河的河床属于张家村集体所有，这条小河里的水流当然也属于村民集体支配</string>
							<string>县政府的决定合法，因为水流属于国家所有，政府当然有权调配河水的供应</string>
							<string>县政府的决定合法，因为水流虽然居于张家村所有，但李家村人也应享有喝水用水的权利，为解决李家村用水问题，政府可以将水流供应统一调配</string>
						</array>
						<key>answers</key>
						<array>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>宪法附则是指宪法对于特定事项需要特殊规定而作出的附加条款。下列关于宪法附则的表述哪一项是错误的？</string>
						<key>analysis</key>
						<string>本题考查宪法附则的知识。宪法附则是指宪法对于特定事项需要特殊规定而作出的附加条款。由于附则是宪法的一部分，因而其法律效力与一般条文相同。而且其法律效力还有两大特点：一是特定性，即附则只对特定的条文或事项适用，有一定的范围，超出范围则无效；二是临时性，即附则只对特定的时间或情况适用，有时间限制，一旦时间届满或者情况发生变化，其法律效力自然应该终止。因此选项A、B、C是正确的表述。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>附则是宪法的一部分，因而其法律效力当然应与一般条款相同</string>
							<string>附则是宪法的特定条款，因而仅对特定事项具有法律效力</string>
							<string>附则是宪法的临时条款，因而仅在特定的时限内具有法律效力</string>
							<string>附则是宪法的特别条款，根据特别法优于普通法的原则，因而其法律效力高于宪法一般条款</string>
						</array>
						<key>answers</key>
						<array>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据我国宪法规定，下列选项中哪一种情况不是公民获得物质帮助权的条件？</string>
						<key>analysis</key>
						<string>本题考查宪法中有关物质帮助权的知识。物质帮助权是指公民因丧失劳动能力或者暂时丧失劳动能力而无法获得必要的物质生活资料时，有从国家和社会获得生活保障，享受集体福利的一种权利。根据我国宪法第四十五条第一款规定，公民在特定情况下获得物质帮助权的具体表现有三：一是老年人的物质帮助权；二是患疾病公民的物质帮助权；三是丧失劳动能力公民的物质帮助权。由此遭受自然灾害并不是公民获得物质帮助权的条件。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>公民在年老时</string>
							<string>公民在疾病时</string>
							<string>公民在遭受自然灾害时</string>
							<string>民在丧失劳动能力时</string>
						</array>
						<key>answers</key>
						<array>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>下列关于拍卖标的物瑕疵的表述中哪一表述是错误的？</string>
						<key>analysis</key>
						<string>本题考查拍卖法中拍卖标的物瑕疵说明义务的知识。第十八条第二款规定：拍卖人应当向竞买人说明拍卖标的物的瑕疵。第二十七条规定：委托人应当向拍卖人说明拍卖标的物的来源和瑕疵。第六十一条第二款规定：拍卖人、委托人在拍卖前声明不能保证拍卖标的物的真伪或者品质的，不承担瑕疵担保责任。故选项C错误。

　　这类题目其出题目的是考查考生对法律条文中相似规定的综合归纳能力，在复习时，考生应对此多加留心，否则往往在遇到时无所适从。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>委托人应向拍卖人告知拍卖标的物的瑕疵</string>
							<string>拍卖人应向竞买人说明拍卖标的物的瑕疵</string>
							<string>买受人对已明示瑕疵的商品仍可要求拍卖人承担瑕疵担保责任</string>
							<string>对因买受人过错造成的瑕疵，委托人可行使瑕疵请求权的抗辩</string>
						</array>
						<key>answers</key>
						<array>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据税收征收管理法的规定，税务行政机关可以采取税收保全措施。税收保全措施适用于以下哪种纳税义务人？</string>
						<key>analysis</key>
						<string>本题考查税收保全措施适用对象的知识。税收征收管理法第二十七条规定：从事生产、经营的纳税人、扣缴义务人未按照规定的期限缴纳或解缴税款，纳税担保人未按照规定的期限缴纳所担保的税款的，税务机关可以采取保全措施。但本题具体问的是纳税义务人，由此可以先排除选项C.选项D的表述过于绝对，于法无据，可以先行排除。而选项A和B是相反的两种纳税人，其中必然有一个是不符合题意的，具体到本条规定，可以判断出选项B不适用于保全措施。

　　做本类题目时，需要考生在复习法律条文时应在一些并行排列的如条件、情形等的法律规定作出重点标记，以利于区分，才可以记得牢固。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>从事生产经营的纳税人</string>
							<string>非从事生产经营的纳税人</string>
							<string>扣缴义务人和纳税担保人</string>
							<string>所有应履行纳税义务的纳税人</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据劳动法的规定和劳动关系的性质，下列哪一项纠纷属于劳动争议？</string>
						<key>analysis</key>
						<string>本题考查劳动争议的知识。我国劳动法第二条规定了劳动法处理争议范围：在中华人民共和国境内的企业、个体经济组织和与之形成劳动关系的劳动者。而选项A、C、D发生争议的当事人之间都没有形成劳动关系，因而不属于劳动法规定的劳动争议范畴。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>某私营企业职工张某与某地方劳动保障行政部门的工伤认定机关因工伤认定结论而发生的争议</string>
							<string>进城务工的农民黄某与其雇主某个体户之间因支付工资报酬发生的争议</string>
							<string>某国有企业退休职工王某与社会保险经办机构因退休费用的发放而发生的争议</string>
							<string>某有限责任公司的职工李某是该公司的股东之一，因股息分配与该公司发生的争议</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>某民警在一次执行公务中牺牲，被公安部授予“一级英模”称号，并奖励奖金1万元，奖金由民警家属代领，同时其家属还收到全国各地捐款共达10万元。对该民警家属的11万元所得应否纳税存在下列几种意见，请问哪一种是正确的？</string>
						<key>analysis</key>
						<string>本题考查个人所得税法规定的应征、免征、减征个人所得税的知识。解答本类题目最好的办法是将三种方式以列表的形式进行比较记忆。个人所得税法第五条规定可以减征个人所得税的情形有三种：一是残疾、孤老人员和烈属的所得；二是因严重自然灾害造成重大损失的；三是其他经国务院财政部门批准减税的。本题中因公牺牲民警的家属属于烈属，其所得捐款和奖金应予以减征个人所得税，故选项D为正确【答案】。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>对11万元全额征收个人所得税</string>
							<string>对11万元全部免纳个人所得税</string>
							<string>对1万元的奖金免纳个人所得税，对10万元的受赠金可减纳个人所得税</string>
							<string>对11万元减纳个人所得税</string>
						</array>
						<key>answers</key>
						<array>
							<integer>3</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>title</key>
						<string>从法理学的角度看，下列哪些表述不能成立？</string>
						<key>analysis</key>
						<string>本题考查对法理学中一些概念的掌握。法律责任与权力、权利、义务一样，都是法学的基本范畴，并和它们有着密切的联系。在历史上，法律责任可以转移，法律责任与权利、义务也是可以转移的。比如，在中国古代社会，法律责任的承担是可以替代的。并且由于责任人的子孙兄弟请求代刑，责任还可以赦免或减轻。再到后来，代刑不仅是子孙的权利，而是成为规定的义务了。在这里，责任主体发生了转移，随着主体的转移，承担责任又变成了权利，继而又成为义务。但在近现代，这种制度已不复存在，选项A的错误在于混淆了法律责任与权利、义务可以相互转移的年代。

　　法律责任的承担方式可以分为主动承担和被动承担两种。主动承担的方式是指责任主体自觉地承担法律责任，主动支付赔偿、补偿或恢复受损害的权利和利益。被动承担责任的方式是指责任主体根据司法机关和行政机关的确认和归结，承担相应的法律责任。法律制裁是被动承担法律责任的一种主要方式，是指由特定国家机关对违法者依其法律责任而实施的强制性惩罚措施。故选项B表述不成立。

　　立法是指一定的国家机关依照法定职权和程序，制定、修改和废止法律和其他规定性法律文件及认可法律的活动，是将一定阶级的意志上升为国家意志的活动，因此说是对社会资源、社会利益进行第一次分配的活动。行政机关根据法律的授权对社会进行管理，一定的行政权是进行有效管理的前提。行政权是一种国家权力，它既能够改变社会的资源分配、控制城市的人口规模，也能够在很大程度上影响公民的个人生活，如升学、就业、结婚等。因此执法的特点之一就是具有国家强制性，行政机关执行法律的过程同时是行使执法权的过程。故选项C、D表述正确。解答本题关键在于对法理学的一些基本概念及其特点掌握准确，不能混淆，平时留心注意，答题才能得心应手。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>在近代，法律责任与权利、义务是可以相互转移的</string>
							<string>法律制裁是主动承担法律责任的一种方式</string>
							<string>立法是对社会资源、社会利益进行第一次分配活动</string>
							<string>行政机关执行法律的过程同时是行使执法权的过程</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法的指引作用可以分为确定的指引和有选择的指引，下列哪些表述属于有选择的指引？</string>
						<key>analysis</key>
						<string>本题考查法的指引作用的知识。

　　法对人们行为的指引有两种方式：①确定的指引，是指人民必须根据法律规范的指示而行为，法律要求人们必须从事一定的行为，而为人们设定积极的义务（作为义务）。法律要求人们不得从事一定的行为，而为人们设定消极义务（不作为义务）。若人们违反这种确定的指引，法律通过设定违法后果来处理，以此来保障确定的指引的实现。②有选择的指引，是指法律规范对人们的行为提供一个可以选择的模式，根据这种指引，人们自行决定是这样行为还是不这样行为。这是一种按权利规则而产生的指引作用。由此，本题中选项B、C、D都有可选择性，属于有选择的指引，而选项A是规定任何人不得侵犯他人的人格尊严，属于确定的指引。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>宪法规定，公民的人格尊严不受侵犯</string>
							<string>合同法规定，当事人协商一致，可以变更合同</string>
							<string>刑法规定，故意杀人的，处死刑、无期徒刑或者十年以上有期徒刑</string>
							<string>民法通则规定，公民对自己的发明或者其他科技成果，有权申请领取荣誉证书，奖金或者其他奖励</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法律秩序是人们在社会生活中依法行事而形成的行为有规则和有序的状态。影响法律秩序的因素是多方面的，主要包括下列哪些选项？</string>
						<key>analysis</key>
						<string>本题考查影响法律秩序因素的知识。

　　法律秩序是人们按照法律建立起来的一种社会秩序，是一个社会正常运转的必要条件，影响法律秩序形成的因素是多方面的，概括起来主要有个人、体制、环境、法律本身四个方面。

　　通过解答本题可以看出多选题中的一部分，是考查一些并列关系诸如条件、因素、意义等内容。这提醒考生在复习时对这些内容的掌握要首先有一个概念，然后再重点记住主题句。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>体制方面的因素</string>
							<string>个人方面的因素</string>
							<string>环境方面的因素</string>
							<string>法律本身的因素</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据立法法的要求，下列哪些事项只能由全国人民代表大会及其常务委员会制定法律加以规定？</string>
						<key>analysis</key>
						<string>本题考查立法法规定的须由全国人大及其常委会制定的法律。

　　我国立法法第八条规定，只能制定法律的事项有：①国家主权的事项；②各级人民代表大会、人民政府、人民法院和人民检察院的产生、组织和职权；③民族区域自治制度、特别行政区制度、基层群众自治制度；④犯罪和刑罚；⑤对公民政治权利的剥夺、限制人身自由的强制措施和处罚；⑥对非国有财产的征收；⑦民事基本制度；⑧基本经济制度以及财政、税收、海关、金融和外贸的基本制度；⑨诉讼和仲裁制度；⑩必须由全国人民代表大会及其常务委员会制定法律的其他事项。根据该条规定，选项B教育制度应予排除。

　　立法法的程序性较强，加之各类立法主体的头绪较多，使得考生掌握起来有一定难度。与此相适应，本法的试题可能多为非此即彼的判断性试题，故要求考生注意比较、区别诸相关条文的异同，做到有备无患。

　　宪法学部分列入司法考试范围的法典除了宪法及其修正案、选举法、立法法、全国人民代表大会组织法、国务院组织法外，还有地方各级人民代表大会和地方各级人民政府组织法、民族区域自治法、香港特别行政区基本法、澳门特别行政区基本法等四部法典。这四部法典在司法考试中的地位可以表述为：被考查的频率很低，所占分值极小；即使偶被考查，其所考查的知识点很可能已为宪法、立法法等基本法典的相关规定所包容。基于以上考虑，单列并详细解读以上四部法典的意义不大，否则，会导致对宪法、立法法等部分内容的重复。但仍有必要指出其各自相对重要的法条，提请考生留意，以求有备无患。另外应当注意，香港特别行政区基本法与澳门特别行政区基本法这两部法典的重点法条基本上是相似的，具体内容也基本相同，故考生可将二者放在一起复习，以减轻复习负担。

　　需要考生注意的是对法律条文的变通说法，这是司法考试的一大特点，须联系实践记忆法条。同时，也要注意今后可能在涉及其他事项中出题。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>劳动争议仲裁制度</string>
							<string>教育制度</string>
							<string>对私有企业的财产征收制度</string>
							<string>居民委员会、村民委员会制度</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法的移植是一项十分复杂的工作，应该注意下列哪些方面？</string>
						<key>analysis</key>
						<string>本题考查法的移植知识。

　　法的移植是指在鉴别、认同、调适、整合的基础上，引进、吸收、采纳、摄取、同化外国法，使之成为本国法律体系的有机组成部分，为本国所用。法的移植反映一个国家对同时代其他国家法律制度的吸收和借鉴，它以供体（被移植的法）和受体（接受移植的法）之间存在着共同性，即受同一规律的支配，互不排斥、可互相吸纳为前提的。法的移植是一项十分复杂的工作，要避免不加选择的盲目移植，选择优秀的、适合本国国情和需要的法律进行移植，注意外国法与本国法之间的同构性和兼容性，注意法律体系的系统性，同时法的移植要有适当的超前性。故选项A、B、C为正确选项。选项D是法的继承所应注意的事项。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>法律体系的系统性</string>
							<string>适当的超前性</string>
							<string>供体与受体之间存在共同性</string>
							<string>时间的先后性</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法律解释可以分为立法解释、司法解释和学理解释，不同的法律解释其效力也不相同。根据我国立法法的规定，下列哪些情况属于全国人大常委会法律解释的权限范围？</string>
						<key>analysis</key>
						<string>本题考查立法法规定的全国人大常委会解释权限的知识。

　　我国立法法第四十二条规定：法律解释权属于全国人民代表大会常务委员会。法律有以下情况之一的，由全国人大常委会解释，一是法律的规定需要进一步明确具体含义的，二是法律制定后出现新的情况，需要明确适用法律依据的。本题是纯粹考查法律条文的，乍看起来选项B、D符合题意，但立法法并未作规定，故应予排除。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>法律的规定需要进一步明确具体含义的</string>
							<string>法律规定业已修正需要重新定义其相关内容的</string>
							<string>法律制定后出现新的情况，需要明确适用法律依据的</string>
							<string>法律之间发生冲突，需要裁决其效力优先性的</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>大陆法系和英美法系的主要区别表现在哪些方面？</string>
						<key>analysis</key>
						<string>本题考查大陆法系和英美法系两大法系比较的知识。

　　大陆法系和英美法系由于形成的历史渊源不同，所以在形式和内容方面有很大差别：①法的渊源不同，大陆法系国家正式的法的渊源只是制定法，即宪法、法律、行政法规等，而英美法系国家制定法和判例法都是正式的法的渊源；②法的分类不同，大陆法系国家法的基本分类是公法和私法，而英美法系国家法的基本分类是普通法和衡平法；③法的编纂不同，大陆法系国家一般采用法典形式，而英美法系国家通常不倾向法典形式，制定法往往是单行法律、法规；④诉讼程序和判决方式不同，大陆法系国家一般采用审理方式，诉讼中法官居于主导地位，法官审理案件除了案件事实外，首先考虑制定法如何规定，随后按有关规定来判决案件。而英美法系国家采用对抗制，法官一般充当消极的、中立的裁定者的角色，法官首先要考虑以前类似案件的判例，将本案的事实与以前案件事实加以比较，然后从以前判例中概括出可以适用于本案的法律规则。此外，在法律术语、概念上也有许多差别。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>法律渊源</string>
							<string>法的分类</string>
							<string>法典编纂</string>
							<string>诉讼程序和判决程式</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>宪法具有最高法律效力。宪法的最高法律效力主要包括以下哪些方面的含义？</string>
						<key>analysis</key>
						<string>本题考查宪法最高法律效力含义的知识。

　　宪法具有最高法律效力主要包括两个方面：一是宪法是制定普通法律的依据，任何普通法律、法规都不得与宪法的原则和精神相违背。我国宪法明确规定，一切法律、行政法规和地方性法规都不得同宪法相抵触；二是宪法是一切国家机关、社会团体和全体公民的最高行为准则，我国宪法在序言中规定：全国各族人民、一切国家机关和武装力量、各政党和社会团体、各企事业组织，都必须以宪法为根本的活动准则，并且负有维护宪法尊严、保证宪法实施的职责。选项C、D是指定和修改程序以及内容上决定宪法根本法地位的两个因素，但不符合题意，应予以排除。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>宪法是制定普通法律的依据，任何普通法律、法规都不得与宪法相抵触</string>
							<string>宪法是一切国家机关、社会团体和全体公民的最高行为准则</string>
							<string>在制定和修改程序上，宪法比其他法律的要求更加严格</string>
							<string>在内容上，宪法规定国家最根本、最重要的问题</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>1999年九届全国人大通过的宪法修正案对我国宪法作了重要修改，下列哪些内容是这一修正案包括的主要内容？</string>
						<key>analysis</key>
						<string>本题考查宪法修正案的主要内容。

　　解答本题需要考生熟练掌握每次宪法修正案的主要内容，做到烂熟于心，否则会产生混乱，如本题选项C即是一干扰项。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>明确把“发展社会主义市场经济”写进宪法</string>
							<string>明确把“依法治国，建设社会主义法治国家”写进宪法</string>
							<string>明确规定“国家加强立法，完善宏观调控”</string>
							<string>明确规定“国家保护个体经济、私营经济的合法的权利和利益”</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据现行宪法和法律，下列选项中哪些人可以在选举日回其原选区参加投票？</string>
						<key>analysis</key>
						<string>本题考查享有选举权的公民的条件。在我国公民享有选举权的基本条件有三：一是具有中国国籍，是中华人民共和国公民；二是年满18周岁；三是依法享有政治权利。公安部《关于执行〈治安管理处罚条例〉若干问题的解释》第十七条规定：治安管理处罚不涉及剥夺公民的政治权利问题，因此，在拘留期间，原来享有选举权和被选举权的人，仍享有选举权和被选举权。选项D被排除的原因是汪某被剥夺政治权利且刑罚尚未执行完毕。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>冯某，被判处拘役6个月，还差1个月期满</string>
							<string>马某，被刑事拘留15天，已执行2天</string>
							<string>王某，被判劳动教养3年，已执行1年</string>
							<string>汪某，被判有期徒刑10年，剥夺政治权利3年，已执行刑罚5年</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>title</key>
						<string>下列有关法的阶级本质的表述中，哪些体现了马克思主义法学关于法的本质学说？</string>
						<key>analysis</key>
						<string>本题考查马克思主义法学关于法的本质学说的知识。

　　马克思主义法的本质学说包括：①法的关系既不能从它们本身来理解，也不能从人类精神的一般发展来理解，相反，它们都根源于物质的生活关系；②法律是统治阶级取得胜利并掌握国家政权的阶级意志的表现，统治阶级利用掌握国家政权这一政治优势，有必要也有可能将本阶级的意志上升为国家意志，然后体现为国家的法律，故选项A、C为正确表述；③法体现的统治阶级意志具有整体性，主要是指：法所体现的统治阶级意志不是统治阶级内部的各党派、集团及每个成员的个别意志，也不是这些个别意志的简单相加，而是统治阶级的整体意志、共同意志或根本意志，故选项D表述错误；④法体现统治阶级意志要经历一个复杂过程，在一定情况下，法的内容规定不仅反映统治阶级的意志，而且同时又反映被统治阶级以及统治阶级的同盟阶级的某些要求和愿望，故选项B表述错误。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>一国的法在整体上是取得胜利并掌握国家政权的阶级意志的体现</string>
							<string>历史上所有的法律仅仅是统治阶级的意志的反映</string>
							<string>法的本质根源于物质的生活关系</string>
							<string>法所体现的统治阶级的意志是统治阶级内部各党派、集团及每个成员意志的相加</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法的实现的评价标准具有复杂性。下列社会事态中，哪些可以作为法的实现的评价标准？</string>
						<key>analysis</key>
						<string>本题考查法实现的评价标准。

　　法的实现是法律在现实生活中从抽象的行为模式变成人们的具体行为，从应然状态到实然状态的过程。法律实现的评价标准具有复杂性，包括以下几个方面：①人们按照法律规定的行为模式行为的程度，是否能够按照授权性规范行使权利，按照义务性规范履行义务；是否能够根据法律设定的法律后果追究违法者的法律责任。②刑事案件的发案率、案件种类、破案率及对犯罪分子的制裁情况。③各类合同的履约率与违约率，各种民事或经济纠纷的发案率及结案率，行政诉讼的立案数及其审结情况。对有关这一标准的统计数字，要具体问题具体分析，不能轻易作出结论。④普通公民和国家公职人员对法律的了解程度，他们的法律意识及法治观念的提高或提高的程度；⑤与其他国家或地区的法律实施情况进行可比性研究；⑥社会大众对社会生活中安全、秩序、自由、公正、公共福利等法的价值的切身感受；⑦法律的社会功能和社会目的是否有效实现及其程度。⑧有关法律活动的成本与收益的比率。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>刑事案件的发案率</string>
							<string>普通公民对法律的了解程度</string>
							<string>社会大众对社会生活中安全、秩序、自由等法的价值的切身感受</string>
							<string>有关法律活动的成本与收益的比率</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法律推理的基本方法包括演绎推理的方法、归纳推理的方法和辩证推理的方法。在下列何种情况下需要采用辩证推理的方法？</string>
						<key>analysis</key>
						<string>本题考查辩证推理方法适用场合的知识。

　　辩证推理是指侧重于对法律规定和案件事实的实质内容进行价值评价或者在相互冲突的利益间进行选择的推理，在出现疑难案件的场合就需要辩证推理，疑难案件包括四种情况：①法律规定本身的意义模糊；②出现了法律空隙或法律漏洞，即在法律中对有关主题没有直接的明文规定；③同一位阶的法律规定之间有抵触；④某些法律规定明显严重落后于社会发展情势，严重不公正，即出现通常所说的“合法”与“合理”的矛盾。解答本题别无好的方法，需要考生逐条记忆才不致选择错误，但这类题目可在正确理解的基础上重点记一些关键词。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>法律规定本身的意义模糊</string>
							<string>出现法律空隙或法律漏洞</string>
							<string>同一位阶的法律规定之间存在抵触</string>
							<string>某些法律规定明显落后于社会发展</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>法律权利的内容是下列哪些权利要素的统一？</string>
						<key>analysis</key>
						<string>本题考查法律权利内容的知识。

　　一个完整的法律权利的结构，其内容实际上是三种权利要素即自由权、请求权和胜诉权的统一。①自由权，即权利人可以自主决定作出一定行为的权利，不受他人干预。自由权是法律权利的核心，是其他权利要素存在的基础。②请求权，即权利人要求他人作出一定行为或不作出一定行为的权利。请求权是对人权，它始终与特定义务人的义务相联系。③诉权（胜诉权），即权利人在自己的权利受到侵犯时，请求国家机关予以保护的权利，它是权利实现的根本保证。这三个要素是紧密联系，不可分割的。其中，自由权是基础，请求权是实体内容，诉权是保障手段。

　　本题所考查的内容今后可能会以考查三种权利之间的关系出现。另需考生重点注意法律义务的内容。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>自由权</string>
							<string>生存权</string>
							<string>请求权</string>
							<string>胜诉权</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>下列有关宪法的指引作用的表述中，哪些说法是正确的？</string>
						<key>analysis</key>
						<string>本题考查宪法指引作用特点的知识。

　　指引作用是所有法律规范都共同具有的作用，是指法律规范对人们的行为起到的导向、引路作用。宪法作为国家的根本大法，当然具有指引作用，但宪法的地位和内容，却决定了宪法的指引作用具有自身的特点：①就指引的行为主体而言，它既包括国家机关、社会组织，也包括公民个人；②就指引的范围来说，它涉及政治、经济、文化和社会生活各个方面；③就指引的效力来看，宪法作为国家的根本法、母法，具有至高无上的法律效力；④就指引的思想基础来讲，宪法是民主事实法律化的基本形式、公民权利的保障书，宪法对机关、组织和个人行为的指引，实际上贯穿着民主的基本精神，或者说是通过对人们行为的正确指引，促进民主的真正实现。

　　另需考生注意与之相关的宪法评价作用的特点、宪法的四大作用即确认和巩固作用、限制和规范作用、指引和协调作用、评价和宣传作用，易出多选题。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>宪法指引的主体包括国家机构、社会组织和个人</string>
							<string>宪法指引的范围涉及政治、经济、文化和社会生活各方面</string>
							<string>宪法指引的效力具有最高性</string>
							<string>宪法的指引贯穿着民主的基本精神</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>某选区共有选民13679人，高先生是数位候选人之一。请问根据现行宪法和选举法律，在下列何种情况下，高先生可以当选？</string>
						<key>analysis</key>
						<string>本题考查我国选举制度的知识。根据我国选举法第四十一条规定：在选民直接选举人民代表大会代表时，选区全体选民的过半数参加投票，选举有效。代表候选人获得参加投票的选民过半数的选票时，始得当选。选项A、C所得选票均未超过参加投票人数的半数，选项D参加投票的人数超过了选民人数，故也不是正确答案。

　　本题看似是一道简单的计算题，其实是考查考生对一些比例性数字掌握的程度，需要对类似这样的数字准确记忆。选举法在司法考试中显然是一小法，其地位同环境保护法、中国人民银行法、行政监察法等相似。自列入原律考的范围以来，每年分值在1分上下。虽然分值低，但本法的可考性较强。选举法共有53个法条，除去第10、11章的法条以外，其余章节的任何一个法条都足以设计任何类型的题目。本法试题所呈现出来的最大特点就是对数据的偏爱，近几年来的考题几乎都与相关法条的一些数据相关。考生复习本法时应注意以上信息。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>参加投票的人数为13663人，高获得选票6831张</string>
							<string>参加投票的人数为6841人，高获得选票3421张</string>
							<string>参加投票的人数为13643人，高获得选票6749张</string>
							<string>参加投票的人数为13685人，高获得选票13073张</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据我国现行宪法和法律，下列哪些人可以具有中国国籍？</string>
						<key>analysis</key>
						<string>本题考查我国公民国籍取得的知识。

　　国籍是指一个人属于某一个国家的公民或国民的法律资格。根据我国国籍法规定，我国采取的是以血统主义为主，出生地主义为辅的原则，具体内容有三：①父母双方或一方为中国公民，本人出生在中国的，具有中国国籍，故选项A正确。②父母双方或一方为中国公民，本人出生在外国的，具有中国国籍，但如果父母双方或一方为中国公民并定居在外国，本人出生时具有外国国籍的，则不具有中国国籍。故选项B正确，选项C错误。③父母无国籍，或者国籍不明，定居在中国，本人出生在中国的，具有中国国籍，故选项D正确。

　　需要注意外国人或无国籍人申请加入中国国籍必须具备的两个前提和法律规定的三个条件。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>赵某，出生于中国大陆，父亲为美国公民，母亲为中国公民</string>
							<string>钱某，出生于法国，父亲为中国公民，母亲为日本公民</string>
							<string>孙某，出生于柏林，父母双方均为中国公民，1980年移民德国，定居柏林（德国采用出生地主义的国籍原则）</string>
							<string>李某，出生于中国，父亲为无国籍人，母亲也国籍不明</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>根据宪法和法律，下列有关国家机构职权的表述中哪些是错误的？</string>
						<key>analysis</key>
						<string>本题考查国家机构职权划分的知识。

　　我国宪法第六十二条之（五）规定，全国人民代表大会“根据中华人民共和国主席的提名，决定国务院总理的人选；根据国务院总理的提名，决定国务院副总理、国务委员、各部部长各委员会主任、审计长、秘书长的人选。”同时根据第八十六条规定，各部、各委员会实行部长、主任负责制。故选项A表述错误。宪法第六十七条之（十七）规定，全国人大常委会行使的职权是特赦而不是大赦。故选项D表述错误。宪法第八十九条之（十五）规定，国务院有权“批准省、自治区、直辖市的区域划分，批准自治州、县、自治县、市的建置和区域划分。”故选项B表述正确。宪法第一百零七条之（三）规定，民族乡的设立由省、直辖市的人民政府决定，故选项C表述错误。这是需要考生注意但容易被忽视的细微之处。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>全国人民代表大会无权决定设立国务院各部、各委员会</string>
							<string>国务院有权决定自治州的设立</string>
							<string>自治区人民代表大会常务委员会有权决定民族乡的设立</string>
							<string>全国人民代表大会常委会有权决定大赦</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>依据《商业银行法》，下列哪些表述是不正确的？</string>
						<key>analysis</key>
						<string>本题考查商业银行法规定的商业银行设立的知识。

　　我国《商业银行法》第十三条规定：设立商业银行的注册资本最低限额为十亿元人民币。城市合作商业银行的注册资本最低限额为一亿元人民币，农村合作商业银行的注册资本最低限额为五千万元人民币，注册资本应当是实缴资本。第二十三条第二款规定：商业银行及其分支机构自取得营业执照之日起无正当理由超过六个月未开业的，或者开业后自行停业连续六个月以上的，由中国人民银行吊销其经营许可证，并予以公告。故选项A、B、D表述正确。第十九条规定：商业银行根据业务需要可以在中国境内设立分支机构。设立分支机构必须经中国人民银行审查批准，故选项C的表述错误。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>商业银行的注册资本应当是实缴资本</string>
							<string>设立城市合作银行的注册资本最低限额为一亿元人民币</string>
							<string>商业银行可自主决定在境内地点设立分支机构</string>
							<string>商业银行自取得营业执照之日起超过6个月无正当理由未开业的，人民银行吊销其经营许可证</string>
						</array>
						<key>answers</key>
						<array>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>经营者以低于成本价销售下列商品的行为，哪些不属于不正当竞争行为？</string>
						<key>analysis</key>
						<string>本题考查反不正当竞争法规定的不属于不正当竞争行为的种类的知识。

　　具体法律依据是《反不正当竞争法》第十一条规定。此外，需注意的是该法第五条规定的经营者从事市场交易不得采用的不正当竞争手段、第十条规定的不得采用的侵犯商业秘密的手段、第十三条规定的经营者不得从事的有奖销售。这些会是今后易出考题之处。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>销售鲜活商品</string>
							<string>销售有效期限将到期的商品</string>
							<string>销售积压商品</string>
							<string>因清偿债务、歇业降价销售商品</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
				</array>
			</array>
			<array>
				<array>
					<dict>
						<key>title</key>
						<string>刑法分则某条文规定：犯A罪的，“处三年以下有期徒刑，并处或者单处罚金”。被告人犯A罪，但情节较轻，且其身无分文。对此，下列哪一判决符合该条规定？</string>
						<key>analysis</key>
						<string>对犯A罪的判决：一是判处三年以下有期徒刑；二是并处或者单处罚金。同时对被告人判处刑罚时还需要考虑其具有的法定情节或酌定情节。选项A、B的错误在于“身无分文”不属于酌定从轻判处刑罚的情节。选项C适用刑罚错误，应判处有期徒刑而不是拘役。解答本题首先需要看清题干，在正确理解题意之后方能准确作答。应注意题干中的“有期徒刑”、“并处或单处罚金”等关键词。

　　刑法总则部分的试题所考查的内容多具细节性，每个条文的有关数字如期间等规定更是考试热点，应予以准确记忆。刑法总则部分的每一个条文都非常重要，而分则的条文数量虽然庞大，内容较多，但重点法条比较突出，都应准确、完整地掌握。刑法试题的选择题所涉及的知识点要求的精确度较高，对应用相关法条解决具体问题的能力要求也较高。考生在复习时切不可粗枝大叶，对于重点法条务必精益求精地掌握。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>2</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>甲法官以被告人身无分文为由，判处有期徒刑6个月</string>
							<string>乙法官以被告人身无分文且犯罪情节较轻为由，判处有期徒刑1年，缓期2年执行</string>
							<string>丙法官以被告人的犯罪情节较轻为由，判处拘役3个月</string>
							<string>丁法官以被告人的犯罪情节较轻为由，判处罚金1000元</string>
						</array>
						<key>answers</key>
						<array>
							<integer>3</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>孙某制作、复制大量的淫秽光盘，除出卖外，还多次将淫秽光盘借给许多人观看。对其行为应如何处理？</string>
						<key>analysis</key>
						<string>本题考查关于妨害社会管理秩序罪中规定的几个罪名区分的知识。

　　组织播放淫秽音像制品罪（刑法第三百六十四条第二款）是指不以牟利为目的，组织播放淫秽电影、录像等音像制品的行为。本罪在客观方面表现为组织播放淫秽的电影、录像等音像制品的行为，这里的“组织”是指为播放淫秽音像制品而进行策划、指挥以及召集观众、提供淫秽音像制品、播放设备或者播放场所的行为；犯罪主体既可以是自然人，也可以是单位；主观方面只能是故意，即明知是淫秽音像制品而组织播放，但必须没有牟利目的。本题中孙某只是将淫秽光盘借给多人观看，不是组织播放淫秽光盘，也不是出于牟利目的，因此不构成本罪，可以排除选项B.

　　制作、复制、出版、贩卖、传播淫秽物品牟利罪（刑法第三百六十三条）是指以营利为目的，制作、复制、贩卖、传播淫秽物品的行为。构成本罪在主观上必须出于故意，并且具有牟利目的，这是构成本罪的必要条件；客观方面表现为制作、复制、出版、贩卖、传播淫秽物品的行为；犯罪主体必须是已满16周岁，具有刑事责任能力的自然人或法人。本题中孙某出卖制作复制的淫秽光盘是出于牟利目的，因此构成本罪。

　　传播淫秽物品罪（刑法第三百六十四条第一款）是指不以牟利为目的，传播淫秽书刊、影片、音像、图片或者其他淫秽物品，情节严重的行为。本罪的客观方面表现为传播淫秽物品；犯罪主体既可以是自然人，也可以是单位；主观方面只能是故意，即明知是淫秽物品而故意传播，但行为人主观上必须没有牟利目的，否则构成制作、复制、贩卖、传播淫秽物品牟利罪。本题中孙某只是将淫秽光盘借给多人观看，属于本罪规定的“传播”，故构成本罪。

　　本题中孙某的行为触犯了两个罪名，应当数罪并罚，即以制作、复制、出版、贩卖、传播淫秽物品牟利罪和传播淫秽物品罪数罪并罚。由本题可以总结出今后的出题趋向之一是考查相类似之间罪名区分的试题逐渐增多，这就提醒考生在复习时牢牢掌握相似罪名之间的关键区别。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>2</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>以制作、复制、贩卖、传播淫秽物品牟利罪处罚</string>
							<string>以组织播放淫秽音像制品罪从重处罚</string>
							<string>以制作、复制、贩卖淫秽物品牟利罪和传播淫秽物品罪数罪并罚</string>
							<string>以传播淫秽物品罪从重处罚</string>
						</array>
						<key>answers</key>
						<array>
							<integer>2</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>甲向法院提起诉讼，要求乙偿还借款12万元，并向法院提供了盖有乙的印章、指纹的借据及附件，后法院判决乙向甲偿还“借款”12万元。经乙申诉后查明，上述借据及附件均系甲伪造，乙根本没有向甲借款。甲的行为属于什么性质？</string>
						<key>analysis</key>
						<string>本题考查关于诈骗罪与一些特殊诈骗犯罪区别的知识。

　　票据诈骗罪（刑法第一百九十四条）是指以非法占有为目的，利用金融票据进行诈骗活动，骗取数额较大财物的行为。本罪客观方面必须是利用金融票据进行诈骗活动，骗取数额较大财物的行为，这里的“票据”是指汇票、本票和支票三种金融票据；犯罪主体既可以是自然人，也可以是单位；主观上只能是故意，由于本罪是特殊的诈骗罪，故要求行为人主观上具有非法占有的目的。本题中甲伪造的是借据不属于金融票据，故不构成本罪。

　　合同诈骗罪（刑法第二百二十四条）是指以非法占有为目的，在签订、履行合同过程中，使用欺诈手段，骗取对方当事人数额较大的财物的行为。本罪侵害的客体是市场秩序与对方当事人的财产所有权；客观方面表现为在签订、履行合同过程中，使用欺诈手段，骗取对方当事人数额较大的财物的行为；犯罪主体既可以是已满16周岁，具有刑事责任能力的自然人，也可以是单位；主观方面是出于故意，并具有非法占有目的。本题中甲在客观上并没有采取签订合同的方式骗取财物，故不构成本罪。

　　诈骗罪（刑法第二百六十六条）是指以非法占有为目的，用虚构事实或者隐瞒真相的欺骗方法，骗取数额较大的公私财物的行为。本罪侵害的客体是公私财物的所有权；主观方面表现为行为人使用虚构事实或者隐瞒真相的方法，骗取公私财物的行为；主观方面是出于故意，即行为人在主观上以非法占有为目的，是行为人有意识地采用欺骗的手段，将公私财物非法占为己有。非法占有为目的是区别于一般经济合同纠纷、债务纠纷的主要标志。本题中甲出于非法占有乙财产的目的，伪造借据及附件，其行为性质已构成诈骗犯罪，不属于民事欺诈范畴，故应排除选项A.</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>2</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>民事欺诈，不成立犯罪</string>
							<string>诈骗罪</string>
							<string>合同诈骗罪</string>
							<string>票据诈骗罪</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>甲男明知乙女只有13周岁，误以为法律并不禁止征得幼女同意后的性交行为。于是在征得乙女的同意后与乙女发生了性交。甲的行为属于下列何种情形？</string>
						<key>analysis</key>
						<string>本题考查刑法总则关于认识错误的知识。

　　刑法上的认识错误是指行为人对自己行为在法律上的意义有不正确理解或者对有关客观事实存在不符合真相的认识，包括法律认识错误与事实认识错误。法律认识错误包括三种情况：①行为人误认为自己实施的是刑法所禁止的犯罪行为，其实该行为并非刑法禁止的犯罪行为；②行为人误认为自己实施的行为不是刑法规定的犯罪行为，其实该行为是刑法规定的犯罪行为，本题中甲的行为即属于这一情形；③行为人对自己实施的犯罪行为在罪名、罪数、量刑等方面有不正确的理解。事实认识错误包括四种情况：①对行为性质的认识错误；②对行为手段的认识错误；③对行为对象的认识错误；④对因果关系的认识错误。

　　解答本题时只要认清题干中所述“误以为法律并不禁止征得幼女同意后的性交行为”，就可直接判断出选项B为正确答案。</string>
						<key>optionType</key>
						<integer>0</integer>
						<key>paperType</key>
						<integer>2</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>幻觉犯，不构成奸淫幼女罪</string>
							<string>法律认识错误，构成奸淫幼女罪</string>
							<string>对象认识错误，构成奸淫幼女罪</string>
							<string>客体认识错误，不构成奸淫幼女罪</string>
						</array>
						<key>answers</key>
						<array>
							<integer>1</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>title</key>
						<string>根据现行宪法和法律，下列选项中哪些人可以在选举日回其原选区参加投票？</string>
						<key>analysis</key>
						<string>本题考查享有选举权的公民的条件。在我国公民享有选举权的基本条件有三：一是具有中国国籍，是中华人民共和国公民；二是年满18周岁；三是依法享有政治权利。公安部《关于执行〈治安管理处罚条例〉若干问题的解释》第十七条规定：治安管理处罚不涉及剥夺公民的政治权利问题，因此，在拘留期间，原来享有选举权和被选举权的人，仍享有选举权和被选举权。选项D被排除的原因是汪某被剥夺政治权利且刑罚尚未执行完毕。</string>
						<key>optionType</key>
						<integer>1</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>冯某，被判处拘役6个月，还差1个月期满</string>
							<string>马某，被刑事拘留15天，已执行2天</string>
							<string>王某，被判劳动教养3年，已执行1年</string>
							<string>汪某，被判有期徒刑10年，剥夺政治权利3年，已执行刑罚5年</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
						</array>
					</dict>
				</array>
				<array>
					<dict>
						<key>title</key>
						<string>经营者以低于成本价销售下列商品的行为，哪些不属于不正当竞争行为？</string>
						<key>analysis</key>
						<string>本题考查反不正当竞争法规定的不属于不正当竞争行为的种类的知识。

　　具体法律依据是《反不正当竞争法》第十一条规定。此外，需注意的是该法第五条规定的经营者从事市场交易不得采用的不正当竞争手段、第十条规定的不得采用的侵犯商业秘密的手段、第十三条规定的经营者不得从事的有奖销售。这些会是今后易出考题之处。</string>
						<key>optionType</key>
						<integer>2</integer>
						<key>paperType</key>
						<integer>1</integer>
						<key>year</key>
						<integer>2002</integer>
						<key>options</key>
						<array>
							<string>销售鲜活商品</string>
							<string>销售有效期限将到期的商品</string>
							<string>销售积压商品</string>
							<string>因清偿债务、歇业降价销售商品</string>
						</array>
						<key>answers</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
						</array>
					</dict>
				</array>
			</array>
		</array>
	</array>
</dict>
</plist>
